/*=============== PRODUCT SECTION ===============*/

.products{
  background-color: white;
  margin-bottom: 50px;
  margin-top: 30px;
}

.products .section-title {
  text-align: center;
  font-size: 3rem;
  font-family: var(--body-font) ; 
  margin-bottom: 20px;
  color: black;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  inset: 0;
}

.product-card img {
  transition: 0.35s ease; }

.product-card:is(:hover, :focus) img { 
  transform: scale(1.1); }

.w-50 .product-card .card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.product-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
}


.product-card .card-title {
  color: black;
  font-size: 2rem;
  font-family: var(--body-font);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* my CSS*/

/*  -______- */

.breadcrumb {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 50px;
  margin-top: 7rem; /* Add margin-top to push breadcrumbs down */
}

.breadcrumb li {
  display: inline;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb a:hover {
  text-decoration: underline;
}


.page-p {         
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3.5rem;
  font-family: var(--body-font);
}

/*  holds the whole page */

.main-p {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  font-family: var(--body-font);
}

/* holds all the tags  */

.name-p {
  margin-top: 0.5rem;
  margin-left: 3rem;
  font-family: var(--body-font);
  color: var(--title-color);
}

/* product name tag at the top  */

.images-p {
  flex: 0 0 40%;      
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-left: -12rem;
  margin-top: -6rem;
}
/* div that controlls all images   */

.image-main-p-wired img {
  width: 110%;  
  height: auto; 
  max-width: 800px; 
  border-radius: 8px;
  margin-top: -2rem;
  margin-left: -10rem;

}

.images-p-wired  {
  width: 100%;  
  height: auto; 
  max-width: 800px; 
  border-radius: 8px;
  margin-top: 1rem;
}

.images-p .image-main-p img  {
  width: 170%;  
  height: auto; 
  max-width: 800px; 
  border-radius: 8px;
  margin-top: 2.5rem;
}



/* allows the images to be the right sizes */



/* Initial image styling */
.image-main-p img {
  cursor: zoom-in;
  transition: transform 0.5s ease;
  width: 100%; /* Ensure image is responsive */
  height: 100%;
}


.zoomed {
  transform: scale(1.25); 
  cursor: zoom-out; /* Change cursor to zoom-out */
}



.image-main-p-wired img {
  cursor: zoom-in;
  transition: transform 0.5s ease;

}



.thumbnails {
  display: flex;
  margin-top: -1rem;
  margin-right: -6rem;
  gap: 0.5rem;
}


.thumbnails-wired {
  display: flex;
  margin-top: -1rem;
  margin-right: -6rem;
  gap: 0.5rem;
}



/* thumbnails container  */

.thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

/* thumbnails for the pictures to click on  */


.thumbnails-wired img {
  width: 60px;
  height: 60px;
  margin-right: rem;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnails img:hover {
  transform: scale(1.1);
}

/* thumbnails for the pictures to hover over  */

.details-p {
  flex: 0 0 40%;  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -5rem;
}
/* for the price quant ect  */


.details-p p {
  margin: 0;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.specstable {
  display: none;
  padding-left: 20px;
}

.specstable ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.specstable ul li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.specstable ul li:hover {
  background-color: #ddd;
}

.spec-det {
  padding: 0.75rem 2rem;
  background-color: var(--first-color);;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.spec-det:hover {
  color: white;
  background-color: orange;
}

/* the p tags in the details section only  */


.compat {
  display: none;
  padding-left: 20px;
}

.compat ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.compat ul li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.compat ul li:hover {
  background-color: #ddd;
}

.compat-js {
  padding: 0.75rem 2rem;
  background-color: var(--first-color);;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.compat-js:hover {
  color: white;
  background-color: orange;
}

/* the p tags in the details section only  */



.details-p .price-p {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--title-color);
}

/* the p tags in the details and price section only  */


.quantity-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* the p tags in the details and price section only  */

.quantity-section input {
  width: 60px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* the quantity sections layout  */

.cart-butt {
  padding: 0.75rem 2rem;
  background-color: var(--first-color);;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* the add to cart button  */

.cart-butt:hover {
  color: white;
  background-color: orange;
}

/* the add to cart button when hovering over it  */

/*=============== FORM SECTION ===============*/

.reviews-section {
  width: 100%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--first-color-lighten);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--body-font);
}
/* review form container section  */

.reviews-section h2 {
  text-align: center;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
  font-family: var(--body-font);
}
/* review form h2 tag  */

.review-form h3 {
  text-align: center;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
  font-family: var(--body-font);
}
/* review form h3 tag  */


.review-form textarea,
.review-form input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background-color: var(--body-color);
  transition: border-color 0.3s;
  margin-bottom: 1.5rem;
  font-family: var(--body-font);
}
/* review form input  */

.review-form textarea:focus,
.review-form input[type="text"]:focus {
  border-color: var(--first-color);
  outline: none;
}
/* review form input */

.review-form textarea {
  resize: vertical;
  min-height: 100px;
}
/* freview form input */

.review-form button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--first-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s;
}
/* button in form  */

.review-form button:hover {
  background-color: orange;
}
/* hover over button in form  */

.reviews-list {
  margin-top: 2rem;
  
}
/* list for review  */

.reviews-list p {
  color: var(--text-color);
  font-size: var(--small-font-size);
  text-align: center;
  font-family: var(--body-font);
}
/* list for review p tag */

.review-item {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--body-color);
  font-family: var(--body-font);
}
/* review item calss  */

.review-item strong {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
/* strong review item  */

.review-item p {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-top: 1.5rem;
  font-family: var(--body-font);
}
/* review item p tag  */


/*=============== Basket Section Stuff ===============*/
.show-basket {
  transform: translateX(0)
}
/* basket transition */

.basket-total {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-semi-bold);
}
/* basket total cost  */


.checkout-btn {
  background-color: var(--first-color);
  color: #fff;
  padding: 10xp;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
/* checkout button  */

.basket-items {
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
}
/* items in basket */

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* item in basket name amount quant and remove button  */

.basket-item span {
  margin-right: 25px; 
}
/* gap between the items in basket  */

.basket-content {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
/* content in basket  */

.basket-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: var(--body-color);
  box-shadow: -2px 0 8px rgba(0,0,0,0.1);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: var(--z-fixed);
}
/* basket modal */


.nav_basket{
  display: flex;
  margin-left: 150px;
  position: absolute;
  right: 80px;
  cursor: pointer;
}
/* nav bar basket  */


.basket-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--first-color);
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;

}
/* basket counter  */


.nav_basket .ri-shopping-cart-line {
  font-size: 1.5rem;
  color: var(--title-color);
}
/* nav bar basket */


.basket-container:hover .basket-modal {
  transform: translateX(0);
}
/* container basket hovered  */

.remove-item {
  background-color: var(--first-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* the remove button */

.remove-item:hover {
  background-color: orange;
}
/* the remove button hovered */

.star_rating {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  user-select: none;
  margin-top: 10px;
}

.star {
  background: none;
  border: none;
  outline: none;
  font-size: 3rem;
  color: #ff9800;
  cursor: pointer;
  transition: color 0.3s ease-in-out; 
}

.star:hover,
.star.active {
  color: hsl(220, 89%, 69%);

}

.review-form {
  margin-top: 10px;
}
.reviews-list {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.review-item {
  margin-bottom: 1.5rem;
  padding: 1.5rem; 
  border: 1px solid var(--text-color);
  border-radius: 8px; 
  background-color: var(--body-color);
  font-family: var(--body-font);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.review-stars {
  position: absolute;
  top: -5px;
  left: 3vw;
}

.static-star {
  font-size: 3rem;
  color: #ff9800;
  background: none;
  border: none;
  outline: none; 
  cursor: pointer;
  transition: color 0.3s ease-in-out; 
}
