/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);
  --text-color: hsl(220, 12%, 45%);
  --body-color: hsl(220, 100%, 99%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* ,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

li { list-style: none; }

a,
img{ display: block; }

:focus-visible { outline-offset: 5px; }

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/

.nav {
  height: var(--header-height);
  display: flex;
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  position: absolute;
  left: 10px;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}
.nav__logo i {
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}
.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}
.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}
.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
.dropdown__content {
  row-gap: 1.75rem;
}
.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 1.5rem;
}
.dropdown__group:first-child {
  margin-top: 1.25rem;
}
.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}
.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}
.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  transition: color 0.3s;
}
.dropdown__title:hover {
  color: black;
}
.dropdown__list {
  row-gap: 0.25rem;
}
.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: all 0.4s ease;
}
.dropdown__link:hover {
  color: var(--title-color);
  transform: translateY(-3px) translateX(-5px);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

.login{
  height: 45px;
  display: flex;
  position: absolute;
  right: 130px;
  top: 20px;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  align-items: baseline;
}

.login a .ri-user-line{
  color: var(--title-color);
  font-size: 24px;
  position: relative;
  top: 2px;
}


.show-basket {
  transform: translateX(0)
}
.basket-total {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-semi-bold);
}
.checkout.btn {
  background-color: var(--first-color);
  color: #fff;
  padding: 10xp;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.basket-items {
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
}
.basket-content {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.basket-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: var(--body-color);
  box-shadow: -2px 0 8px rgba(0,0,0,0.1);
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: var(--z-fixed);
}
.nav_basket{
  position: absolute;
  top: 30px;
  right: 80px;
  cursor: pointer;
}
.basket-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--first-color);
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
}
.nav_basket .ri-shopping-cart-line {
  font-size: 1.5rem;
  color: var(--title-color);
}

/*=============== SEARCH BAR ===============*/

.box{
height: 45px;
width: 200px;
display: flex;
position: relative;
top: 20px;
cursor: pointer;
padding: 10px 20px;
background: #fff;
border-radius: 30px;
align-items: baseline;

box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.box:hover input{
  width: 150px;
}

.box input{
  width: 0;
  outline:none;
  border:none;
  font-weight: 500;
  transition: 0.8;
  background: transparent;
}

.box a .ri-search-line{
  color: blue;
  font-size: 18px;
  position: relative;
  top: 2px;
}
/*=============== HERO SECTION ===============*/

.hero-section{
  background-image: url("background.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-section h1{
  font-family: "Offside", sans-serif;
  font-weight: 400;
  font-size: 64px;
  width: 400px;
  text-transform: capitalize;
  position: relative;
  right: 350px;
}
span{
  color: #ef5e41;
}

.hero-section button{
  font-family:"OpenSans-Bold";
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  width: 170px;
  height: 65px;
  border-radius: 30px 0px 30px 0px;
  background-color: #ef5e41;
  border: none;
  position: relative;
  margin-top: 40px;
  right: 320px;
}

/*=============== REASONS SECTION ===============*/


section.reason{
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
  padding: 50px 10% 50px;
}

.reason{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,auto));
  gap: 2rem;
  background: lightgray;
  position: relative;
}

.reason-content h4{
  color: black;
  margin-bottom: 1.5rem;
  font-size: 23px;
}

.reason-content a{
  display: block;
  color: black;
  margin-top: 12px;
  margin-right: 40px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  transition: all .40s ease;
}

.reason-content p{
  color: black;
  font-size: 40px;
  line-height: 40px;
}

.icones a {
  font-size: 70px;
  color: black;
  margin-top: -20px;
}


/*=============== PRODUCT SECTION ===============*/

.products{
  background-color: white;
  margin-bottom: 50px;
  margin-top: 30px;
}

.products .section-title {
  text-align: center;
  font-size: 3rem;
  font-family: var(--body-font) ; 
  margin-bottom: 20px;
  color: black;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  inset: 0;
}

.product-card img {
  transition: 0.35s ease; }

.product-card:is(:hover, :focus) img { 
  transform: scale(1.1); }

.w-50 .product-card .card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.product-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
}


.product-card .card-title {
  color: black;
  font-size: 2rem;
  font-family: var(--body-font);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=============== FOOTER SECTION ===============*/
section.footer{
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
  padding: 50px 10% 40px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,auto));
  gap: 3.5rem;
  background: #1a242f;
  position: relative;
}

.footer-content h4{
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 23px;
}

.footer-content li{
  margin-bottom: 16px;
}

.footer-content li a{
  display: block;
  color: grey;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
}

.footer-content li a:hover{
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}

.footer-content p{
  color: grey;
  font-size: 18px;
  line-height: 30px;
  margin: 20px  0;
}

.icons a{
  display: inline-block;
  font-size: 24px;
  color: antiquewhite;
  margin-right: 16px;
  transition: all .40s ease;
}

.icons a:hover{
  color: white;
  transform: translateY(-5px);
}

@media (min-width: 992px) {

  .container { 
    max-width: 980px; 
    margin-inline: auto;
  }

  /**
   * PRODUCTS
   */
  .product-list > li { width: calc(49.7% - 20px); }

  .product-list .w-50 { width: calc(33.33% - 20px); }
}


/*=============== BREAKPOINTS ===============*/

/*=============== NAVBAR SECTION ===============*/

/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2.6rem;
    height: 100%;
  }
  .nav li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(5, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }
  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }
  .dropdown__icon i {
    font-size: 2rem;
  }
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}


/*=============== HERO SECTION ===============*/

@media (max-width: 884px) {
  .container-hero {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 678px) {
  .hero-text h1 {
    font-size: 2rem;
  }
}


/*=============== Basket Section Stuff ===============*/
.show-basket {
  transform: translateX(0)
}

.basket-total {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-semi-bold);
}

.checkout.btn {
  background-color: var(--first-color);
  color: #fff;
  padding: 10xp;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.basket-items {
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
}

.basket-content {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.basket-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: var(--body-color);
  box-shadow: -2px 0 8px rgba(0,0,0,0.1);
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: var(--z-fixed);
}

.nav_basket{
  display: flex;
  margin-left: 150px;
  position: absolute;
  right: 80px;
  cursor: pointer;
}

.basket-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--first-color);
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
}

.nav_basket .ri-shopping-cart-line {
  font-size: 1.5rem;
  color: var(--title-color);
}

.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

#switch{
  height: 45px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 220px;
  margin-right: -2   0px;
  top: 20px;
  border: none;
  cursor: pointer;
}

#switch svg{
  fill: var(--title-color);
  margin-right: -60px;
  height: 30px;
  width: 30px;
}

#switch svg:last-child{
  display: none;
}

.darkmode #switch svg:first-child{
  display: none;
}

.darkmode #switch svg:last-child{
  display: block;
}

.darkmode{
  --first-color: hsl(220, 95%, 70%);
  --first-color-lighten: white;
  --title-color: hsl(220, 89%, 69%);
  --title-list-color: white;
  --text-color: hsl(220, 12%, 45%);
  --body-color: hsl(0, 0%, 0%);
  --reason_color: hsl(0, 4%, 10%);
  --reason_text: hsl(225, 3%, 71%);
  --pop-color: hsl(18, 97%, 38%);
  --background-color: hsl(214, 89%, 7%);
  --lala: url("background2.jpg")
  
}



/* Harounds CSS Above*/

/* my CSS*/

/*  -______- */




.breadcrumb {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 50px;
  margin-top: 7rem; /* Add margin-top to push breadcrumbs down */
}

.breadcrumb li {
  display: inline;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb a:hover {
  text-decoration: underline;
}


.page-p {         
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3.5rem;
  font-family: var(--body-font);
}

/*  holds the whole page */

.main-p {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  font-family: var(--body-font);
}

/* holds all the tags  */

.name-p {
  margin-top: 0.5rem;
  margin-left: 3rem;
  font-family: var(--body-font);
  color: var(--title-color);
}

/* product name tag at the top  */

.images-p {
  flex: 0 0 40%;      
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-left: -12rem;
  margin-top: -6rem;
}
/* div that controlls all images   */

.image-main-p-wired img {
  width: 110%;  
  height: auto; 
  max-width: 800px; 
  border-radius: 8px;
  margin-top: -2rem;
  margin-left: -10rem;

}

.images-p-wired  {
  width: 100%;  
  height: auto; 
  max-width: 800px; 
  border-radius: 8px;
  margin-top: 1rem;
}

.images-p .image-main-p img  {
  width: 170%;  
  height: auto; 
  max-width: 800px; 
  border-radius: 8px;
  margin-top: 2.5rem;
}



/* allows the images to be the right sizes */



/* Initial image styling */
.image-main-p img {
  cursor: zoom-in;
  transition: transform 0.5s ease;
  width: 100%; /* Ensure image is responsive */
  height: 100%;
}


.zoomed {
  transform: scale(1.25); 
  cursor: zoom-out; /* Change cursor to zoom-out */
}



.image-main-p-wired img {
  cursor: zoom-in;
  transition: transform 0.5s ease;

}



.thumbnails {
  display: flex;
  margin-top: -1rem;
  margin-right: -6rem;
  gap: 0.5rem;
}


.thumbnails-wired {
  display: flex;
  margin-top: -1rem;
  margin-right: -6rem;
  gap: 0.5rem;
}



/* thumbnails container  */

.thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

/* thumbnails for the pictures to click on  */


.thumbnails-wired img {
  width: 60px;
  height: 60px;
  margin-right: rem;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnails img:hover {
  transform: scale(1.1);
}

/* thumbnails for the pictures to hover over  */

.details-p {
  flex: 0 0 40%;  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -5rem;
}
/* for the price quant ect  */


.details-p p {
  margin: 0;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.specstable {
  display: none;
  padding-left: 20px;
}

.specstable ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.specstable ul li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.specstable ul li:hover {
  background-color: #ddd;
}

.spec-det {
  padding: 0.75rem 2rem;
  background-color: var(--first-color);;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.spec-det:hover {
  color: white;
  background-color: orange;
}

/* the p tags in the details section only  */


.compat {
  display: none;
  padding-left: 20px;
}

.compat ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.compat ul li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.compat ul li:hover {
  background-color: #ddd;
}

.compat-js {
  padding: 0.75rem 2rem;
  background-color: var(--first-color);;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.compat-js:hover {
  color: white;
  background-color: orange;
}

/* the p tags in the details section only  */



.details-p .price-p {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--title-color);
}

/* the p tags in the details and price section only  */


.quantity-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* the p tags in the details and price section only  */

.quantity-section input {
  width: 60px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* the quantity sections layout  */

.cart-butt {
  padding: 0.75rem 2rem;
  background-color: var(--first-color);;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* the add to cart button  */

.cart-butt:hover {
  color: white;
  background-color: orange;
}

/* the add to cart button when hovering over it  */

/*=============== FORM SECTION ===============*/

.reviews-section {
  width: 100%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--first-color-lighten);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--body-font);
}
/* review form container section  */

.reviews-section h2 {
  text-align: center;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
  font-family: var(--body-font);
}
/* review form h2 tag  */

.review-form h3 {
  text-align: center;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
  font-family: var(--body-font);
}
/* review form h3 tag  */


.review-form textarea,
.review-form input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background-color: var(--body-color);
  transition: border-color 0.3s;
  margin-bottom: 1.5rem;
  font-family: var(--body-font);
}
/* review form input  */

.review-form textarea:focus,
.review-form input[type="text"]:focus {
  border-color: var(--first-color);
  outline: none;
}
/* review form input */

.review-form textarea {
  resize: vertical;
  min-height: 100px;
}
/* freview form input */

.review-form button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--first-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s;
}
/* button in form  */

.review-form button:hover {
  background-color: orange;
}
/* hover over button in form  */

.reviews-list {
  margin-top: 2rem;
  
}
/* list for review  */

.reviews-list p {
  color: var(--text-color);
  font-size: var(--small-font-size);
  text-align: center;
  font-family: var(--body-font);
}
/* list for review p tag */

.review-item {
  margin-bottom: 1.5rem;
  padding: 1.5rem; 
  border: 1px solid var(--text-color);
  border-radius: 8px; 
  background-color: var(--body-color);
  font-family: var(--body-font);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
/* review item calss  */

.review-item strong {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
/* strong review item  */

.review-item p {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-top: 1.5rem;
  font-family: var(--body-font);
}
/* review item p tag  */


/*=============== Basket Section Stuff ===============*/
.show-basket {
  transform: translateX(0)
}
/* basket transition */

.basket-total {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-semi-bold);
}
/* basket total cost  */


.checkout-btn {
  background-color: var(--first-color);
  color: #fff;
  padding: 10xp;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
/* checkout button  */

.basket-items {
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
}
/* items in basket */

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* item in basket name amount quant and remove button  */

.basket-item span {
  margin-right: 25px; 
}
/* gap between the items in basket  */

.basket-content {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
/* content in basket  */

.basket-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: var(--body-color);
  box-shadow: -2px 0 8px rgba(0,0,0,0.1);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: var(--z-fixed);
}
/* basket modal */


.nav_basket{
  display: flex;
  margin-left: 150px;
  position: absolute;
  right: 80px;
  cursor: pointer;
}
/* nav bar basket  */


.basket-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--first-color);
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;

}
/* basket counter  */


.nav_basket .ri-shopping-cart-line {
  font-size: 1.5rem;
  color: var(--title-color);
}
/* nav bar basket */


.basket-container:hover .basket-modal {
  transform: translateX(0);
}
/* container basket hovered  */

.remove-item {
  background-color: var(--first-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* the remove button */

.remove-item:hover {
  background-color: orange;
}
/* the remove button hovered */


.star_rating {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  user-select: none;
  margin-top: 10px;
}
.star {
  background: none;
  border: none;
  outline: none; 
  font-size: 3rem;
  color: #ff9800;
  cursor: pointer;
  transition: color 0.3s ease-in-out; 
}

.star:hover,
.star.active {
  color: hsl(220, 89%, 69%);

}

.review-form {
  margin-top: 10px;
}
.reviews-list {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
